<h1>HI <%= @user.username %>!</h1>
<ul>
  <% @user.session_tokens.each do |token| %>
    <li>you're logged in here: <%= token.client %></li>
    <% end %>
</ul>

<%= link_to "go to cats index", cats_url %>

<% content_for :footer do %>
  <p>
    This is all about you.
  </p>
<% end %>
